@{
    string youtubetext = "https://www.youtube.com/@pseb_official";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Punjab School Education Board</title>
    <link rel="shortcut icon" href="/Images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css' />
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <noscript>
        <style type="text/css">
            #HPL {
                display: none
            }
        </style>
        <charset style="background-color:#cc0000;color:#ffd800;font-size:24px;text-align:center;padding:10px 0">Your browser does not support JavaScript!</charset>
    </noscript>
    @Styles.Render("~/Content/css")
    @* @Scripts.Render("~/bundles/modernizrq")*@
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153563779-1"></script>
    <script>
        window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-153563779-1');
    </script>
</head>
<body>
    <div id="HPL">
        @{
            if (Session["LoginSession"] != null)
            {
                PsebJunior.Models.LoginSession loginSession = (PsebJunior.Models.LoginSession)Session["LoginSession"];
                <div class="header">
                    <div class="container">
                                <div class="row">
                                    <div class="col-xs-3 col-md-4">
                                        <img src="~/Images/pseb_logo.png" alt="Punjab School Education Board" class="img-responsive" />
                                    </div>
                                    <div class="col-xs-9 col-md-4">
                                        <center>
                                            <img src="~/Images/PSEB_Text.png" alt="Punjab School Education Board" class="img-responsive" />
                                            <span class="kdcs-wt-color kdcs-font-16"><span>Session</span> @loginSession.CurrentSession</span>
                                        </center>
                                    </div>
                                    <div class="col-xs-12 col-md-4 text-right">
                                        <span class="kdcs-wt-color">
                                            Email Id: <a target="_blank" href="mailto:psebhelpdesk@gmail.com" class="kdcs-wt-color">psebhelpdesk@gmail.com </a><br />
                                            Toll Free Help Line No. : <span class="blink_text">8058911911</span>
                                        </span>
                                        <span class="kdcs-wt-color kdcs-font-12">
                                            <br />
                                            Reg Branch : <span class="kdcs-or-color">0172-5227438,0172-5227439,<br />0172-5227440</span>
                                        </span>
                                        <div class="row" style="margin-right:0px;">
                                            <a href="https://www.facebook.com/profile.php?id=61551366697416" target="_blank"><img src="https://pseb.ac.in/public/socialmedia/icons8-facebook-144.png" width="30px;"></a>
                                            <a href="https://www.instagram.com/pseb.official/" target="_blank"><img src="https://pseb.ac.in/public/socialmedia/icons8-instagram-144.png" width="30px;"></a>
                                            <a href="https://twitter.com/PSEB_Official" target="_blank"><img src="https://pseb.ac.in/public/socialmedia/icons8-twitterx-144.png" width="30px;"></a>
                                            <a href="@youtubetext" target="_blank"><img src="https://pseb.ac.in/public/socialmedia/icons8-youtube-144.png" width="30px;"></a>
                                        </div>
                                    </div>
                                   


                                    <div class="clearfix"></div>
                                    <div class="col-md-12 text-center kdcs-wt-color">
                                        <span>@loginSession.SCHLNME</span>
                                        <span class="kdsfont"> @loginSession.SCHLNMP</span>
                                        <span>[@loginSession.SCHL]</span>


                                    </div>
                                    @if (!string.IsNullOrEmpty(loginSession.CLUSTERDETAILS))
                                    {
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 text-center kdcs-wt-color">
                                            <span>Cluster Details :</span>
                                            <span>@loginSession.CLUSTERDETAILS</span>
                                        </div>
                                    }


                                </div>
                    </div>
                </div>
                <div class="navbar navbar-inverse">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            School Profile
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @if (loginSession.Matric == "0" && loginSession.Senior == "0")
                                            {
                                                <li>@Html.ActionLink("Infrastructure Performa", "InfrasturePerforma", "School")</li>
                                                <li>@Html.ActionLink("Exam Centre Details", "ExamCentreDetails", "School")</li>
                                            }

                                            <li>@Html.ActionLink("Update School Information", "Update_School_Information", "SchoolProfile")</li>
                                            <li>@Html.ActionLink("Change Password", "Change_Password", "SchoolProfile")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            Registration Portal
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">

                                            @if (loginSession.USERTYPE != "GOV" && loginSession.USERTYPE != "R&A")
                                            {
                                                <li>@Html.ActionLink("Registration Portal", "Portal", "RegistrationPortal")</li>
                                            }

                                            @*<li>@Html.ActionLink("Late Admission Request", "LateAdmissionSchl", "RegistrationPortal")</li>*@
                                            <li>@Html.ActionLink("Inter Board Migration", "InterBoardMigrationSchl", "RegistrationPortal")</li>
                                        </ul>
                                    </li>
                                    @if (loginSession.Matric == "0" && loginSession.Senior == "0")
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                Exam Centre
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Exam Centre Details", "ExamCentreDetails", "School")</li>

                                            </ul>
                                        </li>
                                    }
                                    @*<li><a href="/School/SchoolResultCertificate">Download Certificate</a></li>*@

                                    @*<li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                Correction Performa
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/CorrectionPerforma/Instructions">Instructions & Fee Schedule</a></li>
                                                <li><a href="/CorrectionPerforma/SchoolCorrection">Particular Correction Performa</a></li>
                                                <li><a href="/CorrectionPerforma/SubjectCorrectionPerforma">Subject Correction Performa</a></li>
                                                <li><a href="/CorrectionPerforma/SchoolCorrectionFinalPrintList">Print Correction Performa</a></li>
                                                <li><a href="/CorrectionPerforma/SchoolCorrectionAllRecord">Status Of Correction</a></li>
                                                <li><a href="/CorrectionPerforma/VerifySchoolCorrection">Verify School Correction</a></li>
                                            </ul>
                                        </li>*@

                                    @*<li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            Examination Portal
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Admit Card", "SchoolAdmitCardList", "School")</li>
                                            <li>@Html.ActionLink("Cut List", "SchoolCutlist", "School")</li>
                                            <li>@Html.ActionLink("CCE (Internal Assessment)", "CCE_Portal", "School")</li>*@


                                    @*<li><a href="/School/SchoolResultDeclare">Result March-22</a></li>

                                          <li>@Html.ActionLink("Marks Entry Of Practical", "PracticalChartLink", "School")</li>
                                          <li><a href="/School/SignatureChart/Middle">Practical Signature Chart Middle</a></li>
                                          <li>@Html.ActionLink("CCE (Internal Assessment)", "CCE_Portal", "School")</li>
                                            <li>@Html.ActionLink("Cut List", "SchoolCutlist", "School")</li>
                                            <li>@Html.ActionLink("Admit Card", "SchoolAdmitCardList", "School")</li>
                                        <li>@Html.ActionLink("Marks Entry (Diff. Student) - Term-2", "PhyChl_Portal", "School")</li>
                                        <li>@Html.ActionLink("Re-Exam Absent Candidate", "ReExamStudents", "RegistrationPortal")</li>*@
                                    @*<li>@Html.ActionLink("On Demand Certificate", "OnDemandCertificate", "RegistrationPortal")</li>
                                        <li>@Html.ActionLink("Marks Entry Of School Based Exams", "SchoolBasedExamsPortal", "School")</li>
                                        <li>@Html.ActionLink("Marks Entry (Diff. Student) - March 2023", "PhyChl_Portal", "School")</li>*@
                                    @*<li>@Html.ActionLink("Elective Subject Theory", "ElectiveTheory_Portal", "School")</li>  *@
                                    @*</ul>
                                        </li>*@



                                    @* <li class="dropdown">
                                                          <a class="dropdown-toggle" data-toggle="dropdown">
                                                              Examination Portal
                                                              <span class="caret"></span>
                                                          </a>
                                                          <ul class="dropdown-menu">
                                                              <li>@Html.ActionLink("CCE (Internal Assessment)", "CCE_Portal", "School")</li>
                                                              <li>@Html.ActionLink("Cut List", "SchoolCutlist", "School")</li>
                                                              <li>@Html.ActionLink("Admit Card", "SchoolAdmitCardList", "School")</li>
                                                              <li><a href="/school/ExamCentre">Exam Centre</a></li>
                                                               @if (loginSession.fifth == "Y")
                                                                      {
                                                                          <li>@Html.ActionLink("Marks Entry (Diff. Student) - Term-2", "PhyChl_Portal", "School")</li>
                                                                      }

                                        <li>@Html.ActionLink("Elective Subject Theory", "ElectiveTheory_Portal", "School")</li>
                                        <li><a href="/School/SchoolResultDeclare">Result 2021-22</a></li>



                                                          </ul>
                                                      </li>*@

                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            School Migration
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Apply For Migration", "ApplyStudentSchoolMigration", "School")</li>
                                            <li>@Html.ActionLink("Applied List", "StudentSchoolMigrationApplied", "School")</li>
                                            <li>@Html.ActionLink("Received List", "StudentSchoolMigrationReceived", "School")</li>
                                        </ul>
                                    </li>


                                    @*<li><a href="/school/ExamCentre">Practical Exam Centre</a></li>*@
                                    <li class="dropdown" style="display:none;">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            Exam Centre
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @*<li><a href="/school/CapacityLetter">Capacity Letter</a></li>*@
                                            <li>@Html.ActionLink("Signature Chart & Confidential List For July 2023 Exam", "ExamCentre", "School")</li>
                                            @*@if (@loginSession.SCHL.ToString() == "0130701" || @loginSession.SCHL.ToString() == "0130862" || @loginSession.SCHL.ToString() == "0078027" || @loginSession.SCHL.ToString() == "0233302" || @loginSession.SCHL.ToString() == "0245134")
                                                {
                                                    <li><a href="/School/ExamCentreResources">Exam Centre Resources</a></li>
                                                }*@
                                        </ul>
                                    </li>









                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="container KDBG">
            @RenderBody()
        </div>
        <footer class="bs-docs-footer">
            <div class="container text-center">
                All Rights Reserved at Punjab School Education Board, 1969 - 2019
            </div>
        </footer>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153563779-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-153563779-1');
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>