@{
    Layout = "~/Views/Shared/_Home_Header.cshtml";
}
<style type="text/css">
       #ac-wrapper{background:rgba(0,0,0,0.5) none repeat scroll 0 0;height:100%;left:0;position:fixed;top:0;width:100%;z-index:1001}#popup{background:#fff none repeat scroll 0 0;border:5px solid #f1f1f1;border-radius:25px;box-shadow:0 0 3px 3px #64686e;min-height:280px;left:35%;padding:10px 20px 0;position:absolute;top:128px;width:30%}.kds-scroll-sec{overflow-y:scroll;height:220px}.kds-scroll-sec span{color:red} .kds-scroll-sec a{color:#000000}
</style>
<div class="KDBG">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/PSEB_Slider.jpg" class="img-responsive" />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="shadow">&nbsp;</div>
        </div>
        @*<div class="col-md-1"></div>*@
        <div class="col-md-4 text-right">
            <a href="/login" class="btndn btn-success">Primary & Middle School Login<br>@PsebPrimaryMiddle.Models.MasterClass.SessionFullYear <img src="/images/new.gif" alt="new" /></a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://middleprimary2021.pseb.ac.in/login" class="btndn btn-warning">Primary & Middle School Login<br>2021-22</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://middleprimary2020.pseb.ac.in/login" class="btndn btn-info">Primary & Middle School Login<br>2020-21</a>
        </div>

        <div class="col-md-5 text-center" style="display:none">
            <a href="/Centerhead" class="btndn btn-warning">Primary & Middle Center Head Login<br>@PsebPrimaryMiddle.Models.MasterClass.SessionFullYear</a>
        </div>
        <div class="col-md-1"></div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            @*<p style="color:#cc0000;font-size:16px;text-align:center;margin:0;padding-top:6px">ਆਨ-ਲਾਈਨ ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਦੀ ਇੰਨਕੁਆਰੀ ਨੂੰ ਹੱਲ ਕਰਨ ਲਈ ਕੰਪਿਊਟਰ ਸੈੱਲ ਮਿਤੀ 12-11-2016 ਅਤੇ 13-11-2016 ਨੂੰ ਸਵੇਰੇ 10 ਤੋਂ  2 ਵਜੇ ਤੱਕ ਆਮ ਪਬਲਿਕ ਲਈ ਖੁੱਲਾ ਰਹੇਗਾ|</p>*@
            <marquee onmouseout="this.setAttribute('scrollamount', 6, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" direction="left" scrollamount="4" style="padding:10px 0;cursor:pointer">
                <b><i>DISTRICTS:-</i></b> AMRITSAR, BATHINDA, FARIDKOT, FAZILKA, FEROZEPUR, LUDHIANA, MANSA, MOGA, ROOP NAGAR, S.A.S NAGAR, TARN TARAN, BARNALA, FATEHGARH SAHIB, GURDASPUR, HOSHIARPUR, JALANDHAR, KAPURTHALA, SHRI MUKTSAR SAHIB, S.B.S. NAGAR, PATHANKOT, PATIALA, SANGRUR, CHANDIGARH & OTHER STATES -  Email Id: <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a> / Toll Free Help Line No. : <span class="redc">8058911911</span>
                @*<span style="color:#cc0000;">After Final Submission in Registration Portal. Please generate Examination Fee Challan in Examination Portal before 23-11-2016 to avoid late fee.</span>*@
            </marquee>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="twosectio">
                <h4>Important Links</h4>
                <div class="kds-scroll-sec">
                    <!-- <br /> -->
                    <!-- <a href="/PDF/Instructions_AffiliationConti_MiddlePrimary_2021-22_021220.pdf" class="listitm" target="_blank"> -->
                        <!-- <samp>❭</samp> <span>03/12/2020</span>  Instructions for Provisional Affiliation & Continuation of 5th & 8th class's, Session @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear -->
                    <!-- </a><br> -->
                </div>
                <div class="kds-scroll-sec" style="display:none">
                    <br />
                    <a href="/PDF/5th-8th-Correction-in-Subject.pdf" class="listitm" target="_blank">
                        <samp>❭</samp> <span>29/01/2021</span> Circular Regarding Correction in Subject 5th and 8th
                        <img src="/images/new.gif" alt="new" />
                    </a>
                    <br />
                    <a href="/PDF/5th-8th-class-datesheet.pdf" class="listitm" target="_blank"> <samp>❭</samp> <span>07/01/2020</span> Revised Datesheet of 5th & 8th Class For Session @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear  <img src="/images/new.gif" alt="new" /></a>
                    <br />
                    <a href="/PDF/Revised schedule for 5th and 8th.pdf" class="listitm" target="_blank"> <samp>❭</samp> <span>31/12/2019</span> Revised Schedule for 5th & 8th For Session @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear  <img src="/images/new.gif" alt="new" /></a>
                    <br />
                    <a href="https://files-cdn.pseb.ac.in/pseb_files/SCHEMEOFSTUDIESFORCLASSV17-9-2021-2219-17-09-534.pdf" class="listitm" target="_blank"> <samp>❭</samp> <span>09/12/2019</span> Scheme of Studies, Mark Distribution And CCE Schedule For Class V (Fifth)  </a>
                    <br />
                    <a href="https://files-cdn.pseb.ac.in/pseb_files/SCHEMEOFSTUDIESFORCLASSVIII17-9-19-2019-17-09-371.pdf" class="rqf" target="_blank"><samp>❭</samp> <span>09/12/2019</span> Scheme of Studies, Mark Distribution And CCE Schedule For Class Viii (Middle)</a>
                    <br />
                    <a href="/Upload/Circular/2019003.pdf" target="_blank" class="listitm">
                        <samp>❭</samp> <span>29/11/2019</span>
                        Datasheet 5th and 8th class exams March 2021
                    </a>
                    <br />
                    <a href="/Upload/Circular/2019002.pdf" target="_blank" class="listitm">
                        <samp>❭</samp> <span>28/11/2019</span>
                        Circular Regarding Declaration 5th &amp; 8th class
                    </a>
                </div>
                @*<div style="overflow-y:scroll;height: 220px;">
                    @{
                        if (ViewBag.TotalCircular > 0)
                        {
                            int d = 0;
                            int Count = 0;
                            DateTime sDate = DateTime.Today;
                            if (ViewBag.CircularCount > 0)
                            {
                                for (int i = 0; i < Model.dsCircular.Rows.Count; i++)
                                {
                                    d = d + 1;
                                    var ID = Model.dsCircular.Rows[i]["ID"].ToString();
                                    var CircularNo = Model.dsCircular.Rows[i]["CircularNo"].ToString();
                                    var Title = Model.dsCircular.Rows[i]["Title"].ToString();
                                    var UploadDate = Model.dsCircular.Rows[i]["UploadDateDD"].ToString().Split(' ')[0];
                                    var ExpiryDate = Model.dsCircular.Rows[i]["ExpiryDateDD"].ToString().Split(' ')[0];
                                    var Category = Model.dsCircular.Rows[i]["IsMarque"].ToString() == "1" ? "Marque" : "Circulars";
                                    var Status = Model.dsCircular.Rows[i]["IsActive"].ToString().ToLower() == "true" ? "Active" : "De-Active";
                                    var NewFlag = Model.dsCircular.Rows[i]["NewFlag"].ToString();
                                    var Attachment = Model.dsCircular.Rows[i]["Attachment"].ToString();
                                    var UrlLink = Model.dsCircular.Rows[i]["UrlLink"].ToString();
                                    // Count = Count + 1;
                                    DateTime eDate = DateTime.ParseExact(ExpiryDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);

                                    if (Model.dsCircular.Rows[i]["IsMarque"].ToString() != "1" && (sDate <= eDate))
                                    {
                                        <br /><br />
                                        if (!string.IsNullOrEmpty(UrlLink))
                                        {
                                            <a href='@UrlLink' class="listitm" target="_blank" title="click here to open link">
                                                <samp>&#10093;</samp> <span style="color:#ff0000">@UploadDate</span> @Title
                                                @if (NewFlag == "1")
                                                {<img src="/images/new.gif" alt="new" />}
                                            </a>
                                        }
                                        else if (!string.IsNullOrEmpty(Attachment))
                                        {
                                            <a href="/@Attachment" target="_blank" class="listitm">
                                                <samp>&#10093;</samp> <span style="color:#ff0000">@UploadDate</span>
                                                @Title
                                                @if (NewFlag == "1")
                                                {<img src="/images/new.gif" alt="new" />}
                                            </a>
                                        }
                                    }
                                }
                            }
                        }
                    }
                </div>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="twosectio">
                <h4 class="text-left">Contact Us</h4>
                <table width="100%">
                    <tr>
                        <td colspan="2" style="text-align:center">
                            Email Id: <a href="mailto:psebhelpdesk@gmail.com" target="_blank" class="redc">psebhelpdesk@gmail.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;width:48%">Toll Free Help Line No. :</td>
                        <td style="vertical-align:top;line-height:12px;padding-top:6px">
                            <span style="font-size:26px">8058911911<br /><span style="font-size:11px"> Mon to Fri – 10:00 AM to 5:00 PM</span></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <hr class="hr" />
                            <i>DISTRICTS:-</i> AMRITSAR, BATHINDA, FARIDKOT, FAZILKA, FEROZEPUR, LUDHIANA, MANSA, MOGA, ROOP NAGAR, S.A.S NAGAR, TARN TARAN, BARNALA, FATEHGARH SAHIB, GURDASPUR, HOSHIARPUR, JALANDHAR, KAPURTHALA, SHRI MUKTSAR SAHIB, S.B.S. NAGAR, PATHANKOT, PATIALA, SANGRUR, CHANDIGARH & OTHER STATES
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="twosectio">
                <h4 class="text-left">Contact Us</h4>
                <table width="100%">
                    <tr>
                        <td colspan="2" style="text-align:center">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;width:48%">Contact No.<br />For General Query :</td>
                        <td style="vertical-align:top;line-height:12px;padding-top:6px">
                            <span style="font-size:26px">0172-5227310<br /><span style="font-size:11px"> Mon to Fri – 10:00 AM to 5:00 PM</span></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center;padding:20px 0"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;width:48%">Contact No.<br />For Registration Query :</td>
                        <td style="vertical-align:top;line-height:12px;padding-top:6px">
                            <span style="font-size:16px;line-height:22px">0172-5227438, 439, 440<br /><span style="font-size:11px"> Mon to Fri – 10:00 AM to 5:00 PM</span></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-md-12">
        <p style="font-size:24px;padding:10% 0 20% 36%;line-height:32px">
            Website Under Maintenance.<br />
            We will be back soon.<br /><br />
            Thanks,<br />
            PSEB
        </p>
    </div>
</div>
<script type="text/javascript">
    function PopUp(hideOrshow) {
        if (hideOrshow == 'hide') document.getElementById('ac-wrapper').style.display = "none";
        else document.getElementById('ac-wrapper').removeAttribute('style');
    }
    window.onload = function () {
        setTimeout(function () {
            PopUp('show');
        }, 0);
    }
</script>
<div id="dvsh">
    <div id="ac-wrapper" style='display: none'>
        <div id="popup">
            <p><span style="float:right"><a onclick="PopUp('hide')" href="#"><img alt="Close" src="/Images/close_button.png" title="Close" /></a></span></p><br /><br />
            <h4>Follow Us On...</h4>
            <h4 style="background-color: #3e42a5">INTERNATIONAL PUNJABI LANGUAGE OLYMPIAD<img src="/images/new.gif" alt="new">   </h4>
            <h4 class="modal-title">Registration Started </h4>

            <p style="color:#000;font-size:16px;text-align:center;margin-top:15px;"><a href="https://olympiad.pseb.ac.in/" target="_blank">Click Here to Register</a> </p>
        </div>
    </div>
</div>