@model PsebJunior.Models.PaymentformViewModel
@{    
    ViewBag.Title = "PaymentForm";
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<h1>
    Registration/Continuation Payment Option,
</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<div id="dialog" style="display: none">
    <span class="rqf">Click OK button to Generate Challan otherwise click Cancel button.</span>
</div>
<div id="dialogOnline" style="display: none">
    <span class="rqf">Click OK button to do Online Payment otherwise click Cancel button.</span>
</div>
<div id="loading1"></div>




@using (Html.BeginForm("PaymentForm", "Test", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
{


    if (Model != null)
    {
        if (Model.TotalFinalFees == 0)
        {
            <table id="divHOD">
                <tr>
                    <td>
                        @{
                            <span>@Html.RadioButtonFor(m => m.BankCode, "203", new { id = "203" }) <label>PSEB HOD</label></span>                            
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="Proceed to Final Submit & Pay Against PSEB HOD" id="btnPaymentHOD" />
                    </td>
                </tr>
            </table>


        }

        else
        {

            <div class="row">
                <div class="col-md-12 noprint">
                    <fieldset style="margin-bottom:15px">
                        <legend>Select </legend>
                        <div class="col-md-3">
                            Select Payment Method
                            @{
                                List<SelectListItem> catgilist = new List<SelectListItem>();
                                catgilist.Add(new SelectListItem { Text = "Select", Value = "Select" });
                                catgilist.Add(new SelectListItem { Text = "Offline", Value = "Offline" });
                               catgilist.Add(new SelectListItem { Text = "Online", Value = "Online" });
                            }
                            @Html.DropDownListFor(m => m.IsOnline, catgilist, new { id = "IsOnline" })
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row" id="divMain1">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="divOffline">
                            <tr>
                                <td>

                                    @{

                                        if (Model != null)
                                        {
                                            if (Model.bankList != null)
                                            {
                                                foreach (var bank in Model.bankList)
                                                {
                                                    if (bank.BCode == "204") { bank.Img = "/Images/SBIbank.png"; }
                                                    else if (bank.BCode == "202") { bank.Img = "/Images/PNBbank.gif"; }
                                                    else if (bank.BCode == "201") { bank.Img = "/Images/SBPbank.png"; }
                                                    @Html.RadioButtonFor(m => m.BankCode, bank.BCode, new { id = bank.BCode })<img src=@(bank.Img) width="150" alt=@(bank.BankName) />
                                                }
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="Proceed to Final Submit & Generate Challan" id="btnPayment" />
                                    @*@Html.ActionLink("Proceed to Final Submit & Generate Challan", "PaymentForm", "Test", new { @class = "btn", @OnClick = "return confirm('You are going to submit the data. After that data will be locked for any changes?');" })*@
                                </td>
                            </tr>
                        </table>

                        <table id="divOnline">
                            <tr>
                                <td>
                                    @{
                                        <span>@Html.RadioButtonFor(m => m.BankCode, "301", new { id = "HDFC" })<img src="~/Images/HDFC.png" alt="HDFC" width="150" /></span>
                                        <span>@Html.RadioButtonFor(m => m.BankCode, "302", new { id = "ATOM" }) <img src="~/Images/ATOM.gif" alt="Punjab and Sind Bank" width="150" /></span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="Proceed to Final Submit & Pay Online" id="btnPaymentOnline" />
                                </td>
                            </tr>
                        </table>

                        <table class="table table-bordered" id="t01">
                            <tr>
                                <td>Category</td>
                                <td>Registration/Continuation Fee</td>
                            </tr>
                            <tr>
                                <td>LOT No</td>
                                <td>@Html.DisplayFor(m => m.LOTNo)</td>
                            </tr>
                            <tr>
                                <td>District Code/Name</td>
                                <td>@Html.DisplayFor(m => m.DistrictFull)</td>
                            </tr>
                            <tr>
                                <td>School Code</td>
                                <td>@Html.DisplayFor(m => m.SchoolCode)</td>
                            </tr>
                            <tr>
                                <td>School Name</td>
                                <td>@Html.DisplayFor(m => m.SchoolName)</td>
                            </tr>
                            <tr>
                                <td>Total Candidates</td>
                                <td>@Html.DisplayFor(m => m.TotalCandidates)</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>₹@Html.DisplayFor(m => m.TotalFinalFees)</td>
                            </tr>
                            <tr>
                                <td>Total(In Words)</td>
                                <td>@Html.DisplayFor(m => m.TotalFeesInWords)</td>
                            </tr>
                            <tr>

                                <td colspan="2" class="text-center rqf">Fee Valid Upto @Html.DisplayFor(m => m.FeeDate)</td>
                            </tr>
                        </table>



                    </div>
                </div>
            </div>
        }
    }

}

@{
    if (ViewData["SelectBank"] != null)
    {
        if (ViewData["SelectBank"].ToString() == "1")
        {
            <script type="text/javascript" language="javascript">
                alert("Please Select Bank ");
                window.location.href = '@Url.Action("PaymentForm", "Test")';
            </script>

        }
    }
}


          

<script type="text/javascript">
    $(document).ready(function () {
        $("#divOnline").hide();
        $("#divOffline").hide();

        $('#IsOnline').change(function () {
            // alert('1');
            var selectedCategory = $("#IsOnline").val();
            // alert(selectedCategory);
            if (selectedCategory != "") {

                if (selectedCategory == "Select") {
                    $("#divOnline").hide();
                    $("#divOffline").hide();
                }
                else if (selectedCategory == "Online") {
                    $("#divOnline").show();
                    $("#divOffline").hide();
                }
                else {
                    $("#divOnline").hide();
                    $("#divOffline").show();
                }
            } else {
                alert('Please Select Payment Method');
                $("#divOnline").hide();
                $("#divOffline").hide();
            }
        });
    });
</script>



<script type="text/javascript">
    $("#btnPaymentOnline").click(function () {

        var SBPa = document.getElementById("HDFC").checked;
        var PNBa = document.getElementById("ATOM").checked;

        if (SBPa == false && PNBa == false) {
            alert("Please Select Any Bank For Online Payment");
            return false;
        }
        else {
            $('#Main1').hide();
            $('#loading1').html("<p><img src='https://registration.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Are you sure to Online Payment?");
            $('#dialogOnline').dialog('open');
            return true;
        }

    });

    $(function () {
        $("#dialogOnline").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure to do Online Payment?",
            width: 400,
            height: 220,
            buttons: {
                "OK": function () {
                    // $('#loading1').html("<p><img src='https://registration.pseb.ac.in/images/loadingk.gif'></p>");
                    $('#myForm').submit();

                },
                Cancel: function () {
                    $('#loading1').empty("<p><img src='https://registration.pseb.ac.in/images/loadingk.gif'></p>");
                    $(this).dialog("close");
                }
            }
        });
    });
</script>


<script type="text/javascript">
    //Start Payment
    $("#btnPayment").click(function () {
        var SBPa = document.getElementById("204").checked;
        var PNBa = document.getElementById("202").checked;

        if (SBPa == false && PNBa == false) {
            alert("Please Select Any Bank");
            return false;
        }
        else {
            $('#Main1').hide();
            //$('#loading1').html("<p><img src='https://registration.pseb.ac.in/images/loadingk.gif'></p>");
            alert("Are you sure to Generate Challan ?");
            $('#dialog').dialog('open');
            return true;
        }

    });

    $(function () {
        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure to Generate Challan?",
            width: 400,
            height: 220,
            buttons: {
                "OK": function () {
                    $('#loading1').html("<p><img src='https://registration.pseb.ac.in/images/loadingk.gif'></p>");
                    $("#btnPayment").attr('disabled', 'disabled');
                    $('#myForm').submit();

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    //End  Payment
</script>


<script type="text/javascript">
    //Start Payment
    $("#btnPaymentHOD").click(function () {    
        alert('btnPaymentHOD');
        var HODa = document.getElementById("203").checked;
        if (HODa == false ) {
            alert("Please Select Any Bank");
            return false;
        }
        else {
            $('#Main1').hide();            
            alert("Are you sure to Generate Challan ?");
            $('#dialog').dialog('open');
            return true;
        }

    });

    $(function () {
        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Are you sure to Generate Challan?",
            width: 400,
            height: 220,
            buttons: {
                "OK": function () {
                    $('#loading1').html("<p><img src='https://registration.pseb.ac.in/images/loadingk.gif'></p>");
                    $("#btnPaymentHOD").attr('disabled', 'disabled');
                    $('#myForm').submit();

                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    //End  Payment
</script>