
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<style type="text/css">
    .ullist {
        padding-bottom: 100px;
    }

        .ullist li {
            padding: 6px 4px;
            font-size: 16px;
        }

            .ullist li a {
                color: #DB8104;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 18px;
                padding-bottom: 6px
            }

        .ullist .kdsfont-n {
            padding-left: 9px;
font-weight:normal;
font-size:15px;line-height:26px
        }
</style>
<h1>
    Form (A1) for Class VIII (New Registration) - Session  @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear

</h1>
<div class="row">
    <div class="col-md-12">
        <ul class="ullist">
            <li>
                <a href='@Url.Action("ImportDataEighth", "Webservice")'>&#10093; Import Data From E-Punjab</a>
                <p class="kdsfont-n">
                    ਈ-ਪੰਜਾਬ (E-Punjab) ਤੋਂ ਪ੍ਰੀਖਿਆਰਥੀਆਂ ਦਾ ਡਾਟਾ ਇੰਮਪੋਰਟ (Import) ਕਰਨ ਲਈ ਸਕੂਲ ਦਾ UDISE Code ਅਪਡੇਟ ਹੋਣਾ ਲਾਜ਼ਮੀ ਹੈ। ਜੇਕਰ ਤੁਸੀਂ ਸਕੂਲ ਦਾ UDISE Code ਅਪਡੇਟ ਨਹੀਂ ਕੀਤਾ ਹੈ ਤਾਂ School Profile -> Update UDISE Code ਲਿੰਕ ਅਧੀਨ ਅਪਡੇਟ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ।
                </p>
                <p class="kdsfont-n">ਇਸ ਲਿੰਕ ਅਧੀਨ ਸਿਰਫ ਉਹਨਾਂ ਪ੍ਰੀਖਿਆਰਥੀਆਂ ਨੂੰ ਹੀ ਇੰਮਪੋਰਟ ਕੀਤਾ ਜਾਵੇ ਜਿੰਨ੍ਹਾਂ ਨੇ ਪਿਛਲੀ ਸ਼੍ਰੇਣੀ ਪੰਜਾਬ ਸਕੂਲ ਸਿੱਖਿਆ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਸਕੂਲਾਂ ਤੋਂ ਪਾਸ ਕੀਤੀ ਹੈ ਪ੍ਰੰਤੂ ਉਹਨਾਂ ਕੋਲ ਬੋਰਡ ਵੱਲੋਂ ਜਾਰੀ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਨਹੀਂ ਹੈ। </p>
            </li>

            <li>
                <a href='@Url.Action("A1Form", "RegistrationPortal")'>&#10093; 8<sup>th</sup> (New Registration For PSEB Last 3 Year Candidates)</a>
                <p class="kdsfont-n">
                    ਇਸ ਲਿੰਕ ਅਧੀਨ ਸਿਰਫ ਉਹਨਾਂ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਐਂਟਰੀ ਕੀਤੀ ਜਾਵੇ, ਜਿੰਨ੍ਹਾਂ ਨੇ ਸੱਤਵੀਂ ਸ਼੍ਰੇਣੀ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ ਦੌਰਾਨ ਪੰਜਾਬ ਸਕੂਲ ਸਿੱਖਿਆ ਬੋਰਡ ਨਾਲ ਸਬੰਧਤ ਸਕੂਲਾਂ ਤੋਂ ਪਾਸ ਕੀਤੀ 
                    ਹੈ ਪ੍ਰੰਤੂ ਉਹਨਾਂ ਨੂੰ ਬੋਰਡ ਵੱਲੋਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ/ ਨਹੀਂ ਹੋਇਆ। ਜਿਨ੍ਹਾਂ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਪੰਜਵੀਂ ਸ਼੍ਰੇਣੀ ਵਿੱਚ ਬੋਰਡ ਵੱਲੋਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ ਸੀ, 
                    ੳਹਨਾਂ ਵਿਦਿਆਰਥੀਆਂ ਦੀ A1 ਫਾਰਮ ਵਿੱਚ ਐਂਟਰੀ ਕਰਦੇ ਸਮੇਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਭਰਨਾ ਵੀ ਯਕੀਨੀ ਬਣਾਇਆ ਜਾਵੇ। ਬਾਹਰਲੇ ਰਾਜ/ ਬੋਰਡਾਂ ਅਤੇ ਪੰਜਾਬ ਸਕੂਲ ਸਿੱਖਿਆ ਬੋਰਡ 
                    ਦੇ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ ਤੋਂ ਪਹਿਲਾਂ ਵਾਲੇ ਵਿਦਿਆਰਥੀਆਂ ਲਈ A2 ਫਾਰਮ ਭਰਿਆ ਜਾਵੇ।
                </p>
            </li>
            @*<li>
                <a href='@Url.Action("Import7thPassStudents", "RegistrationPortal")'>&#10093; Import 7<sup>th</sup> Pass Students Of Self/Other School Which Have Allotted PSEB Registration Number</a>
                <p class="kdsfont-n">
                    ਇਸ ਲਿੰਕ ਅਧੀਨ ਸਿਰਫ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ ਤੋਂ ਆਪਣੇ ਸਕੂਲ/ ਦੂਸਰੇ ਸਕੂਲ ਤੋਂ ਸੱਤਵੀਂ ਸ਼੍ਰੇਣੀ ਪਾਸ ਵਿਦਿਆਰਥੀਆਂ ਜਿਨ੍ਹਾਂ ਨੂੰ ਪਹਿਲਾਂ ਹੀ PSEB ਵੱਲੋਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋ ਚੁੱਕਿਆ ਹੋਵੇ,ਉਹਨਾਂ ਦੀ ਐੱਟਰੀ ਕੀਤੀ ਜਾਵੇ।
                </p>
            </li>*@
            <li>
                <a href='@Url.Action("ImportDataA3Form", "RegistrationPortal")'>&#10093; Import 8<sup>th</sup> Fail/Absent/Cancel Students From Self/ Other School For Last 3 Years</a>
                <p class="kdsfont-n">
                    ਇਸ ਲਿੰਕ ਅਧੀਨ ਪਿਛਲੇ ਤਿੰਨ ਸਾਲਾਂ ਦੌਰਾਨ ਅੱਠਵੀਂ ਫੇਲ੍ਹ/ ਗੈਰ-ਹਾਜ਼ਰ/ ਕੈਂਸਲ ਪ੍ਰੀਖਿਆਰਥੀਆਂ ਨੂੰ ਇੰਮਪੋਰਟ ਕੀਤਾ ਜਾਵੇ। ਇੰਮਪੋਰਟ (Import) ਕਰਨ ਉਪਰੰਤ ਪ੍ਰੀਖਿਆਰਥੀ A1 ਫਾਰਮ ਦੇ View All Inserted Records ਵਿੱਚ ਆ ਜਾਣਗੇ। ਇਸ ਸੂਚੀ ਵਿੱਚ ਪ੍ਰੀਖਿਆਰਥੀਆਂ ਨੂੰ Modify button ਤੇ ਕਲਿੱਕ ਕਰਕੇ ਬਾਕੀ ਰਹਿੰਦੇ ਵੇਰਵੇ ਭਰ ਦਿੱਤੇ ਜਾਣ।
                </p>
            </li>
            <li>
                <a href='@Url.Action("A1Formgrid", "RegistrationPortal")'>&#10093; View All Inserted Records</a>
                <p class="kdsfont-n">A1 ਫਾਰਮ ਅਧੀਨ ਇੰਮਪੋਰਟ ਕੀਤੇ ਜਾਂ ਨਵੀਂ ਐਂਟਰੀ ਵਾਲੇ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਸੂਚੀ ਦੇਖਣ ਲਈ ਇਸ ਲਿੰਕ ਤੇ ਕਲਿੱਕ ਕੀਤਾ ਜਾਵੇ। ਇਸ ਲਿੰਕ ਅਧੀਨ ਵਿਦਿਆਰਥੀ ਦੇ ਵੇਰਵੇ Modify ਜਾਂ  Delete ਕੀਤੇ ਜਾ ਸਕਦੇ ਹਨ। ਇਸ ਤੋਂ ਇਲਾਵਾ Rough Report or Student Verification Form ਦੇਖੇ ਅਤੇ ਪ੍ਰਿੰਟ ਕੀਤੇ ਜਾ ਸਕਦੇ ਹਨ। </p>

            <p class="kdsfont-n">
                ਨੋਟ: A1 ਫਾਰਮ ਉਹਨਾਂ ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਹੈ ਜੋ ਅੱਠਵੀਂ ਸ਼੍ਰੇਣੀ ਵਿੱਚ ਨਵੇਂ ਦਾਖਲ ਹੋਏ ਹਨ ਅਤੇ ਬੋਰਡ ਵੱਲੋਂ ਇਹਨਾਂ ਨੂੰ ਪਹਿਲਾਂ ਕੋਈ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ/ ਨਹੀਂ ਹੋਇਆ। ਜਿਨ੍ਹਾਂ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਪੰਜਵੀਂ ਸ਼੍ਰੇਣੀ ਵਿੱਚ ਬੋਰਡ ਵੱਲੋਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਜਾਰੀ ਹੋਇਆ ਸੀ, ੳਹਨਾਂ ਵਿਦਿਆਰਥੀਆਂ ਦੀ A1 ਫਾਰਮ ਵਿੱਚ ਐਂਟਰੀ ਕਰਦੇ ਸਮੇਂ ਰਜਿਸਟਰੇਸ਼ਨ ਨੰਬਰ ਭਰਨਾ ਵੀ ਯਕੀਨੀ ਬਣਾਇਆ ਜਾਵੇ। ਇਸ ਫਾਰਮ ਅਧੀਨ ਕੀਤੀ ਜਾ ਚੁੱਕੀ ਐਂਟਰੀ ਨੂੰ ਦੇਖਣ ਲਈ View All Inserted Records ਤੇ ਕਲਿੱਕ ਕੀਤਾ ਜਾਵੇ। Rough Print ਲੈਣ ਲਈ Rough Report ਤੇ ਕਲਿੱਕ ਕਰੋ (ਇਹ ਪ੍ਰਿੰਟ ਸਿਰਫ Proof Reading ਲਈ ਹੈ)। ਇਸ ਤੋਂ ਇਲਾਵਾ ਇਹ ਵੀ ਧਿਆਨ ਵਿੱਚ ਰੱਖਿਆ ਜਾਵੇ ਕਿ ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਪੰਜਾਬੀ ਵਿੱਚ ਕੰਨਵਰਜ਼ਨ ਦੀ ਸੁਵਿਧਾ ਸਿਰਫ ਤੁਹਾਡੀ ਸਹਾਇਤਾ ਲਈ ਦਿੱਤੀ ਗਈ ਹੈ, ਜੇਕਰ ਕੰਨਵਰਜ਼ਨ ਦੌਰਾਨ ਪੰਜਾਬੀ ਦੇ ਵੇਰਵੇ ਸਹੀ ਕੰਨਵਰਟ ਨਹੀਂ ਹੁੰਦੇ ਤਾਂ ਇਸ ਨੂੰ ਪੰਜਾਬੀ ਵਾਲੇ ਖਾਨੇ ਦੇ ਨਾਲ ਲੱਗੇ Keyboard ਤੋਂ ਠੀਕ ਕੀਤਾ ਜਾਵੇ। ਪੰਜਾਬੀ ਦੇ ਵੇਰਵਿਆਂ ਵਿੱਚ ਹੋਈ ਗਲਤੀ ਦੀ ਜ਼ਿੰਮੇਵਾਰੀ ਵੀ ਤੁਹਾਡੀ ਆਪਣੀ ਹੋਵੇਗੀ। Final Submission ਕਰਨ ਤੋਂ ਪਹਿਲਾਂ ਸਾਰੇ ਵੇਰਵਿਆਂ (ਅੰਗਰੇਜ਼ੀ ਅਤੇ ਪੰਜਾਬੀ) ਨੂੰ ਚੈੱਕ ਕਰਨਾ ਯਕੀਨੀ ਬਣਾਇਆ ਜਾਵੇ। Final Submission ਕਰਨ ਉਪਰੰਤ ਵੇਰਵਿਆਂ ਵਿੱਚ ਕੋਈ ਸੋਧ ਨਹੀਂ ਕੀਤੀ ਜਾ ਸਕੇਗੀ ਅਤੇ ਨਾ ਹੀ ਐਂਟਰੀ Delete ਕੀਤੀ ਜਾ ਸਕੇਗੀ।
            </p>
            </li>
        </ul>
    </div>
</div>
