@model PsebJunior.Models.RegistrationModels
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
@using (Html.BeginForm())
{
    <h1>
        View @Model.form_Name Form - Session  @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear

    </h1>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Student Id : @Model.Std_id </h3>
        </div>
    </div>

    <div class="clearfix"></div>

    if (Model.form_Name == "F1" || Model.form_Name == "A1")
    {
        <h4>Previous Class Information</h4>
        <div class="row">
            <div class="col-md-2">
                Category
            </div><div class="col-md-4">
                <label>@Html.DisplayFor(a => a.Category)</label>
            </div>
            <div class="col-md-2">
                Session <span class="rqf">*</span>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6"><label>@Html.DisplayFor(a => a.Year)</label></div>
                    <div class="col-md-6"><label>@Html.DisplayFor(a => a.Month)</label></div>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                Previous School Name <span class="rqf">*</span>
            </div>
            <div class="col-md-9">
                <label>
                    @Html.DisplayFor(a => a.Prev_School_Name)
                </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                Registration Number <span class="rqf">*</span>
            </div>
            <div class="col-md-4"><label> @Html.DisplayFor(a => a.Registration_num)</label></div>
            <div class="col-md-4">@Html.CheckBoxFor(m => m.IsPSEBRegNum, new { id = "IsPSEBRegNum", @disabled = "@disabled" }) Yes I Have P.S.E.B Alloted Reg No. For This Candidate</div>

          
        </div>

    }
    else if (Model.form_Name == "F2" || Model.form_Name == "A2")
    {
        <h4>Previous Class Information</h4>

        <div class="row">
            <div class="col-md-2">
                Category
            </div><div class="col-md-4">
                <label>@Html.DisplayFor(a => a.Category)</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                Eligibility Criteria <span class="rqf">*</span>
            </div>
            <div class="col-md-4">

                @{
                    List<SelectListItem> EligibilityList = new List<SelectListItem>();
                    if (Model.form_Name == "F2")
                    {
                        EligibilityList.Add(new SelectListItem { Text = "--Select Eligibility Criteria--", Value = "0" });
                        EligibilityList.Add(new SelectListItem { Text = "Age of 9 Years and above (upto March Current Session)", Value = "AGE" });
                        EligibilityList.Add(new SelectListItem { Text = "4th Pass/ 5th Fail DMC and TC", Value = "DMC" });
                    }
                    else if (Model.form_Name == "A2")
                    {
                        EligibilityList.Add(new SelectListItem { Text = "--Select Eligibility Criteria--", Value = "0" });
                        EligibilityList.Add(new SelectListItem { Text = "Age of 12 Years and above (upto March Current Session)", Value = "AGE" });
                        EligibilityList.Add(new SelectListItem { Text = "7th Pass/ 8th Fail DMC and TC", Value = "DMC" });
                    }

                    var eligibilityCriteria = EligibilityList.Where(x => x.Value == Model.EligibilityCriteria).Select(x => x.Text).SingleOrDefault();

                    <label>@eligibilityCriteria</label>

                }


            </div>

            <div class="col-md-2">
                Board <span class="rqf">*</span>
            </div>
            <div class="col-md-4">
                <label>@Html.DisplayFor(a => a.Board)</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                Other Board <span class="rqf">*</span>
            </div>
            <div class="col-md-4"><label>@Html.DisplayFor(a => a.Other_Board)</label></div>


            <div class="col-md-2">
                Board Roll No. <span class="rqf">*</span>
            </div>
            <div class="col-md-4"><label>@Html.DisplayFor(a => a.Board_Roll_Num)</label></div>

            <div class="clearfix"></div>
            <div class="col-md-2">
                Session <span class="rqf">*</span>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6"><label>@Html.DisplayFor(a => a.Month)</label></div>
                    <div class="col-md-6"><label>@Html.DisplayFor(a => a.Year)</label></div>
                </div>
            </div>
            <div class="col-md-2">
                Previous School Name <span class="rqf">*</span>
            </div>
            <div class="col-md-4">
                <label>
                    @Html.DisplayFor(a => a.Prev_School_Name)
                </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                Registration Number <span class="rqf">*</span>
            </div>
            <div class="col-md-4"><label> @Html.DisplayFor(a => a.Registration_num)</label></div>
            <div class="col-md-4">@Html.CheckBoxFor(m => m.IsPSEBRegNum, new { id = "IsPSEBRegNum", @disabled = "@disabled" }) Yes I Have P.S.E.B Alloted Reg No. For This Candidate</div>

            <div class="col-md-2">@Html.CheckBoxFor(m => m.IsNRICandidate, new { id = "IsNRICandidate", @disabled = "@disabled" }) Is NRI Candidate</div>

        </div>
    }
    <div class="clearfix"></div>
    <h4>Current Class Details</h4>
    <div class="row">


        <div class="col-md-2">
            Admission No.
        </div>
        <div class="col-md-4"><label>@Html.DisplayFor(a => a.Admission_Num)</label> </div>


        <div class="col-md-2">
            Admission Date <span class="rqf">*</span>
        </div>
        <div class="col-md-4"><label>@Html.DisplayFor(a => a.Admission_Date)</label></div>

    </div>
    <div class="clearfix"></div>

    <h4>Personal Information </h4>
    <div class="row">
        <div class="col-md-2">
            Candidate's Name <span class="rqf">*</span>
        </div>
        <div class="col-md-4">   <label>@Html.DisplayFor(a => a.Candi_Name)</label></div>
        <div class="col-md-2 kdsfont">
            ÚÒÚÂ¤ØÏÁÛ ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4"><label class="kdsfont">@Html.DisplayFor(a => a.Candi_Name_P)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Father's Name  <span class="rqf">*</span>
        </div>
        <div class="col-md-4"><label>@Html.DisplayFor(a => a.Father_Name)</label></div>
        <div class="col-md-2 kdsfont">
            ÚÆ¼Ø ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4"><label class="kdsfont">@Html.DisplayFor(a => a.Father_Name_P)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Mother's Name <span class="rqf">*</span>
        </div>
        <div class="col-md-4"><label>@Html.DisplayFor(a => a.Mother_Name)</label></div>
        <div class="col-md-2 kdsfont">
            ÌØ¼Ø ÂØ ÅØÌ <span class="rqf">*</span>
        </div>
        <div class="col-md-4"><label class="kdsfont">@Html.DisplayFor(a => a.Mother_Name_P)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Caste / <span class="kdsfont">²Ø¼Û</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayFor(a => a.Caste)</label>
        </div>
        <div class="col-md-2">
            Gender /<span class="kdsfont"> ÚÐâ¬ </span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayFor(a => a.Gender)</label>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
            Differently Abled / <span class="kdsfont">ÚÒÐóª» ÓÌÏóÁØ</span>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayFor(a => a.Differently_Abled)</label>
            @if (!string.IsNullOrEmpty(Model.DP))
            {
                <label>@Html.DisplayFor(a => a.DP)</label>
            }

        </div>
        <div class="col-md-2">
            Religion / <span class="kdsfont">ÄÏÌ</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayFor(a => a.Religion)</label>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Date of Birth / <span class="kdsfont">²ÅÌ ÚÌ¼Û</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4"> <label>@Html.DisplayFor(a => a.DOB)</label></div>
        <div class="col-md-2">
            Mobile No. of Parents/ <span class="kdsfont">ÌØÚÆ¤Ù ÂØ ÌëÉØ¥ÛÐ ÅâÉÏ</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4"> <label>@Html.DisplayFor(a => a.Mobile)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Belongs to B.P.L / <span class="kdsfont">ÉÛ.ÆÛ.¤èÐ.</span>
        </div>
        <div class="col-md-4">  <label>@Html.DisplayFor(a => a.Belongs_BPL)</label></div>
        <div class="col-md-2">
            E-Punjab Student ID / <span class="kdsfont">¥Û-Æâ²ØÉ Ó¶Þ¸â¶ ¤Ø¥Û¸Û</span>
        </div>
        <div class="col-md-4">  <label>@Html.DisplayFor(a => a.E_punjab_Std_id)</label></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Aadhar No./ <span class="kdsfont">¤ÄØÏ Åâ:</span>
        </div>
        <div class="col-md-4">

            @if (Model.Aadhar_num.Length == 28)
            {
                Model.AadharEnroll = "Enrollmemt";
            }
            else if (Model.Aadhar_num.Length != 28 && Model.Aadhar_num.Length != 0)
            {
                Model.AadharEnroll = "Aadhar";
            }
            else if (Model.Aadhar_num.Length == 0)
            {
                Model.AadharEnroll = "N.A.";
            }

            @Html.RadioButtonFor(model => model.AadharEnroll, "Aadhar", new { id = "aadharnum", @disabled = "disabled" })<span>Aadhar No</span>
            @Html.RadioButtonFor(model => model.AadharEnroll, "Enrollmemt", new { id = "Enrollmemtnum", @disabled = "disabled" })<span>Enrollmemt No</span>
            @Html.RadioButtonFor(model => model.AadharEnroll, "N.A.", new { id = "aadharnumna", @disabled = "disabled" })<span>N.A.</span>
            <label>@Html.DisplayFor(a => a.Aadhar_num)</label>

        </div>
        <div class="col-md-2">
            Mother Tongue / <span class="kdsfont">ÌØ¼Ø ÊØÓÖØ</span> <span class="rqf">*</span>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayFor(a => a.MotherTongue)</label>

        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="col-md-2">
            Medium Of Study  <span class="kdsfont"></span>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayFor(a => a.CandiMedium)</label>
        </div>
        <div class="col-md-2">
            Want Hard Copy of Certificate?<sup style="color:red;font-size:15px;">*</sup>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayFor(a => a.IsHardCopyCertificate)</label>
        </div>
        <div class="col-md-12 kdsrc">
                *Candidate Medium Of Study Will Be Print On Marksheet Certificate
            </div>
    </div>
    <div class="clearfix"></div>

    <h4> Fill Address </h4>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    Address <span class="rqf">*</span>
                </div>
                <div class="col-md-10"> <label>@Html.DisplayFor(a => a.Address)</label></div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Landmark
                </div>
                <div class="col-md-10"><label>@Html.DisplayFor(a => a.LandMark)</label></div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Block
                </div>
                <div class="col-md-4"><label>@Html.DisplayFor(a => a.Block)</label></div>
                <div class="col-md-2">
                    District <span class="rqf">*</span>
                </div>
                <div class="col-md-4"><label>@Html.DisplayFor(a => a.DISTNM)</label></div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    Tehsil <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.MYTehsil)</label>
                </div>
                <div class="col-md-2">
                    Pincode <span class="rqf">*</span>
                </div>
                <div class="col-md-4">
                    <label>@Html.DisplayFor(a => a.PinCode)</label>
                </div>

            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <h4> Choosed Subjects </h4>

    if (Model.Class == "8")
    {
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table" id="t02">
                        <tr style="font-family: arial; font-size: 12px;">
                            <th style="width: 5%;text-align:left">
                                S.No.
                            </th>
                            <th style="width:30%;" align="left">
                                Subject
                            </th>
                            <th style="width: 15%;" align="left">
                            </th>
                            <th style="width: 5%;text-align:left">
                                S.No.
                            </th>
                            <th style="width: 30%" align="left">
                                Subject
                            </th>
                        </tr>
                        <tr>
                            <td><span>1.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS1)</label></td>
                            <td></td>
                            <td><span>2.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS2)</label></td>
                        </tr>
                        <tr>
                            <td><span>3.</span> </td>
                            <td><label>@Html.DisplayFor(a => a.subS3)</label></td>
                            <td></td>
                            <td><span>4.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS4)</label></td>
                        </tr>
                        <tr>
                            <td><span>5.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS5)</label></td>
                            <td></td>
                            <td><span>6.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS6)</label></td>
                        </tr>
                        <tr>
                            <td><span>7.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS7)</label></td>
                            <td></td>
                            <td><span>8.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS8)</label></td>
                        </tr>
                        <tr style="display:none;">
                            <td><span>9.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS9)</label></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td colspan="7"><h4 class="text-left">Elective Subjects</h4></td>
                        </tr>
                        <tr>
                            <td><span>9.</span></td>
                            <td><label>@Html.DisplayFor(a => a.s9)</label></td>


                        </tr>

                    </table>

                </div>
            </div>


        </div>
    }
    else if (Model.Class == "5")
    {
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table" id="t02">
                        <tr style="font-family: arial; font-size: 12px;">
                            <th style="width: 5%;text-align:left">
                                S.No.
                            </th>
                            <th style="width:30%;" align="left">
                                Subject
                            </th>
                            <th style="width: 15%;" align="left">
                            </th>
                            <th style="width: 5%;text-align:left">
                                S.No.
                            </th>
                            <th style="width: 30%" align="left">
                                Subject
                            </th>
                        </tr>
                        <tr>
                            <td><span>1.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS1)</label></td>
                            <td></td>
                            <td><span>2.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS2)</label></td>
                        </tr>
                        <tr>
                            <td><span>3.</span> </td>
                            <td><label>@Html.DisplayFor(a => a.subS3)</label></td>
                            <td></td>
                            <td><span>4.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS4)</label></td>
                        </tr>
                        <tr>
                            <td><span>5.</span></td>
                            <td><label>@Html.DisplayFor(a => a.subS5)</label></td>
                            <td></td>
                            @*<td><span>6.</span></td>*@
                            <td style="display:none;"><label>@Html.DisplayFor(a => a.subS6)</label></td>
                        </tr>

                    </table>

                </div>
            </div>


        </div>
    }

    if (Model.form_Name == "F2" || Model.form_Name == "A2")
    {
        <h4>View Documents</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        @Model.EligibilityCriteria
                        @if (!string.IsNullOrEmpty(Model.ProofCertificate))
                        {
                            <a href="@Model.ProofCertificate" target="_blank" class="btn">View File</a>
                        }
                    </div>

                    <div class="col-md-6" id="dvDocProofNRICandidates" style="@(Model.IsNRICandidate == true  ? "visibility:visible" : "visibility:hidden")">
                        Upload (Equivalency Letter for N.R.I Candidates.)
                        @if (!string.IsNullOrEmpty(Model.ProofNRICandidates))
                        {
                            <a href="@Model.ProofNRICandidates" target="_blank" class="btn">View File</a>
                        }
                    </div>

                </div>
            </div>
        </div>
    }

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 text-center tbp">
            @if (string.IsNullOrEmpty(Model.LOT) || Model.LOT == "0")
            {
                <input type="button" value="Rough Report" onclick="javascript:document.location.href='@Url.Action("RoughReportJunior", "RegistrationPortal", new { Id = Model.form_Name  })'" />
                <input type="button" value="Student Verification Form" onclick="javascript:document.location.href='@Url.Action("StudentVerificationFormJunior", "RegistrationPortal", new { Id = Model.form_Name  })'" />


            }


            @{
                var viewnm = Model.form_Name + "Formgrid";
                <input type="button" value="View Inserted Records" onclick="javascript:document.location.href='@Url.Action(viewnm, "RegistrationPortal")'" />
            }

        </div>
    </div>

}

