@model PsebJunior.Models.RegistrationAllStudentAdminModelList
@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<!-- #region datatables files -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- #endregion -->
<h1> Session @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear</h1>

<div class="row">
    <div class="col-md-12 text-center">
        <a data-toggle="modal" class="btn" data-target="#myModal">View Error List </a>
    </div>
    </div>

    @if (Model.RegistrationAllStudentAdminModel != null)
    {

        <p>Total Students : @Model.RegistrationAllStudentAdminModel.Count()</p>
        <div class="table-responsive">
            <table id="example" class="display table table-bordered" style="width:100%">
                <thead>
                    <tr class="active-tr">
                        <th>Unique Id</th>
                        <th>Form</th>
                        <th>Reg No</th>
                        <th>Admission Date</th>
                        <th>Candidate Name</th>
                        <th>Father's Name</th>
                        <th>Mother's Name</th>
                        <th>DOB</th>
                        <th>Lot</th>
                        <th>Reg Date: Fee Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.RegistrationAllStudentAdminModel)
                    {
                        <tr>
                            <td>@obj.Std_id</td>
                            <td> @obj.form_Name </td>
                            <td> @obj.RegNo </td>
                            <td>@obj.Admission_Date </td>
                            <td>@obj.Candi_Name </td>
                            <td>@obj.Father_Name </td>
                            <td>@obj.Mother_Name </td>
                            <td>@obj.DOB</td>
                            <td>@obj.LOT</td>
                            <td>
                                @obj.Fee
                                @if (!string.IsNullOrEmpty(obj.ChallanStatus))
                                {<span>/@obj.ChallanStatus</span>}
                            </td>
                            <td>
                                <a href='@Url.Action("CommonFormView", "Admin", new { id = encrypt.QueryStringModule.Encrypt(@obj.Std_id.ToString()), formname = @obj.form_Name })'>View</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }

    <div class="clearfix"></div>

    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span style="font-size:24px">Error List</span>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table id="tblerror" style="width:100%" class="table-bordered">
                            @{
                                if (Model.StoreAllData.Tables.Count > 1)
                                {
                                    for (int s = 0; s < Model.StoreAllData.Tables[1].Rows.Count; s++)
                                    {
                                        var Error_Code = Model.StoreAllData.Tables[1].Rows[s]["Error_Code"].ToString();
                                        var Error_desc = Model.StoreAllData.Tables[1].Rows[s]["Error_desc"].ToString();
                                        var Error_list = Error_Code + " - " + Error_desc;
                                        var FORM = Model.StoreAllData.Tables[1].Rows[s]["FORM"].ToString();
                                        <tr>
                                            <td>
                                                @Error_list
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "responsive": true,
                "lengthMenu": [[25, 50, 100], [25, 50, 100]],
                "processing": true,
                "pageLength": 25,
                "order": [[0, 'desc']],
                language: {
                    searchPlaceholder: "Search By UniqueID, Candidate Name, Father's Name, Mother's Name, DOB.."
                },
            })
        });
    </script>






